{{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}
    <button class="btn btn-primary" type="submit">Change Password</button>
{{ form_end(form) }}